$appBackground: rgba(242, 245, 249, 1);
$white: rgba(255, 255, 255, 1);

$primary: rgba(49, 116, 246, 1);
$primaryHover: rgba(43, 107, 232, 1);
$primaryActive: rgba(34, 94, 210, 1);

$dark10: rgba(27, 44, 78, 0.1); //
$dark15: rgba(27, 44, 78, 0.15); //
$dark20: rgba(27, 44, 78, 0.2); //
$dark60: rgba(27, 44, 78, 0.6); //
$dark100: rgba(27, 44, 78, 1);

$info40: rgba(28, 99, 43, 0.4);
$info60: rgba(28, 99, 43, 0.6);
$info100: rgba(28, 99, 43, 1);

$error40: rgba(241, 47, 105, 0.4);
$error60: rgba(241, 47, 105, 0.6);
$error100: rgba(241, 47, 105, 1);