@import '../../theme/colors.scss';
@import '../../theme/sizes.scss';

.plug {
  position: relative;
  width: 100%;
  max-width: 500px;

  padding: $gap-l;

  border: 1px solid;
  border-radius: $border-radius;

  font-size: $font-m;

  animation: .8s ease-in-out 0s normal forwards running open;

  @keyframes open {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
  }

  &-success {
    background-color: $info40;
    border-color: $info100;
    color: $info100;
  }

  &-error {
    background-color: $error40;
    border-color: $error100;
    color: $error100;
  }
}

.text {
  margin: 0;
}

.button {
  position: absolute;
  right: $gap-xs;
  top: $gap-xs;
  border: none;
  border-radius: $border-radius;

  &-success {
    background-color: $info60;
  }

  &-error {
    background-color: $error60;
  }
}